body {
    background-color: #F1F1F1;
}
.layer{
    margin: auto;
    margin-top: 30px;
    width: 70%;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 25px;
}
.star_color{
    color: red;
}

.label_radio_button
{
    background-color:#9C3;
    padding: 5px 12px;
}
input[type=radio]
{
    display:none;
}
input[type=radio]:checked + label
{
    background-color:#C33;
}