body {
    background-color: #ffe6e6;
}
.layer{
    margin: auto;
    margin-top: 30px;
    width: 70%;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.abgne-menu-20140101-1 input[type="radio"] {
	display: none;
}
.abgne-menu-20140101-1 input[type="radio"] + label {
	display: inline-block;
	background-color: #ccc;
	cursor: pointer;
	padding: 5px 10px;
}
.abgne-menu-20140101-1 input[type="radio"]:checked + label {
	background-color: #f00;
	color: #fff;
}





